name: Delete Package v2

on:
  push:
    branches:    
      - 'main'

jobs:
  delete-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Package Versions
        run: |
          echo 'Starting retrieving versions of package'
          curl -s -H "Accept:application/vnd.github.v3+json" -H "Authorization:token ${{ secrets.MY_GITHUB_PAT }}" https://api.github.com/users/rodrigolfaria/packages/container/test-actions/versions -o /tmp/response.json
          packagesId=`cat /tmp/response.json | jq '.[] | .id'`

          for packageId in $packagesId; do
            packageDetailUrl=https://api.github.com/users/rodrigolfaria/packages/container/test-actions/versions/$packageId
            curl -s -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${{ secrets.MY_GITHUB_PAT }}" $packageDetailUrl -o /tmp/response.json
            tagName=`cat /tmp/response.json | jq '.metadata.container.tags' | jq '.[]'`

            if [[ $tagName =~ [0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}-r* ]]
              then
                echo "Deleting item with id: ${packageId} and tag name: ${tagName}"
                urlToDelete=https://api.github.com/users/rodrigolfaria/packages/container/test-actions/versions/$packageId
                curl -X DELETE -H "Accept:application/vnd.github.v3+json" -H "Authorization:token ${{ secrets.MY_GITHUB_PAT }}" $urlToDelete
            fi
          done
          echo 'Finish execution'
        shell: bash
